<p>Hello <%= @donation.name %>,</p>

<p>You have received a blood donation request from <strong><%= @user.username %></strong>.</p>

<p>Message:</p>
<p><%= @message %></p>

<p>You can respond to <%= @user.email %> for further communication.</p>

<p>Thank you for being a lifesaver!</p>
